{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true,
      },
      "modules": "commonjs",
      "debug": true
    }],
    "react",
    "stage-0"
  ]
}
